@import '~@bryntum/demo-resources/scss/example.scss';

#content {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.b-theme-stockholm .demo-toolbar label {
    text-transform: uppercase;
}
