@import '~@bryntum/demo-resources/scss/example.scss';

.container {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    margin: 1rem;
    grid-row-gap: 1rem;
    border: 1px solid #ececec;
}

.header {
    display: flex;
}
